h1{
    text-align: center; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.column {
    float: left;
    width: 50%;
    font-size: large;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
   
  }


  .column2{ 
    text-align: right;
      font-size: large;
  }

  table{
    text-align: center;
    margin-top: 3px;
    width: 100%;
  }
 


.left{
    float: left;
    width: 50%;
    font-size: large;
}

.work:after {
    content: "";
    display: table;
    clear: both;
   
  }
  body{
    background-color: rgb(232, 230, 239);
  }

fieldset{
  text-align: right;
}

.right{
  text-align: right;
}

